<img src="
https://raw.githubusercontent.com/minorharpman/ai_prog_pub/main/pandas/pivot.png"
 width="1000">

## Pandas: pivot tábla

In [2]:
# Importáljuk a pandas könyvtárat, amit általában "pd" néven szokás rövidíteni.
# A pandas egy Python könyvtár táblázatos (Excel-szerű) adatok kezelésére.
import pandas as pd

In [3]:
# Beolvasunk egy Excel fájlt DataFrame-be.
# A pd.read_excel() függvény egy Excel fájlt olvas be és DataFrame-et ad vissza.
# A DataFrame a pandas egyik legfontosabb adattípusa, egy táblázatszerű adatstruktúra.
df = pd.read_excel("mobil_bob_shop.xlsx")

In [4]:
# Megnézzük az első néhány sort, hogy lássuk, hogyan néz ki az adatkeret.
df.head(3)

,Termék,Mennyiség,Ár,Bevétel (eFt),Kategória,Régió,Akció,Dátum
0,Samsung Galaxy Watch,29,31367,909.643,Kiegészítő,Székesfehérvár,False,2025-06-15
1,iPad Pro,14,118223,1655.122,Tablet,Székesfehérvár,True,2025-07-09
2,Oppo Find X5,10,176109,1761.090,Mobiltelefon,Szeged,False,2025-06-04

In [5]:
# Új oszlopot hozunk létre 'bevétel' néven.
# A df['mennyiség'] és df['ár'] oszlopokat összeszorozzuk soronként.
# Ez szintén egy pandas Series típusú objektum, amit új oszlopként tárolunk.
df['Bevétel'] = df['Mennyiség'] * df['Ár']
df

,Termék,Mennyiség,Ár,Bevétel (eFt),Kategória,Régió,Akció,Dátum,Bevétel
0,Samsung Galaxy Watch,29,31367,909.643,Kiegészítő,Székesfehérvár,False,2025-06-15,909643
1,iPad Pro,14,118223,1655.122,Tablet,Székesfehérvár,True,2025-07-09,1655122
2,Oppo Find X5,10,176109,1761.090,Mobiltelefon,Szeged,False,2025-06-04,1761090
3,Panasonic TX,28,488628,13681.584,TV,Kecskemét,False,2025-05-29,13681584
4,Samsung QLED,20,748406,14968.120,TV,Győr,True,2025-06-07,14968120
...,...,...,...,...,...,...,...,...,...
995,Oppo Find X5,16,405636,6490.176,Mobiltelefon,Kecskemét,False,2025-04-15,6490176
996,MacBook Air,13,229292,2980.796,Laptop,Szeged,False,2025-04-30,2980796
997,Samsung Galaxy Tab S8,20,178929,3578.580,Tablet,Pécs,True,2025-07-11,3578580
998,Panasonic TX,17,178137,3028.329,TV,Pécs,False,2025-05-04,3028329
999,Dell XPS 13,23,316454,7278.442,Laptop,Győr,False,2025-05-25,7278442

## Pivot tábla készítése a bevételekről kategória és régió szerint

pivot tábla (forgatott tábla, kereszt tábla) táblázatos adatösszesítő eszköz,  táblák strukturált összesítésére használnak

* A pivot tábla (angolul pivot table) a Pandas könyvtárban egy adatátalakítási és összegzési eszköz, amely lehetővé teszi, hogy egy DataFrame-ből könnyen áttekinthető, aggregált (összesített) formában nyerjünk ki adatokat.
* Mire jó a pivot tábla?
** Adatok csoportosítása
** Összesítések

Példa: Pivot tábla készítése a bevételekről kategória és régió szerint

* pd.pivot_table(data, values=None, index=None, columns=None, aggfunc='sum')
*  pivot_table() a pandas egyik legfontosabb függvénye csoportosított, tömörített táblák készítéséhez

* Paraméterek magyarázata:
*- values= mely oszlop(oka)t szeretnéd aggregálni , 'Bevétel' → ez az oszlop adja az értékeket (amit összeadunk)
* - index='Kategória' → ez lesz a sorindex (soronkénti bontás)
* - columns='Régió' → ez lesz az oszlopok bontása (pl. külön oszlop minden régióhoz)
* - aggfunc='sum' → az aggregálási függvény: összeadás (bevételösszesítés)
* pivot_df = pd.pivot_table(df, values='Bevétel', index='Kategória', columns='Régió', aggfunc='sum')
* pivot_df

In [6]:
# Kiírjuk a kész pivot táblát – kategóriánként és régiónként összesített bevételekkel
print("Pivot tábla – Bevétel kategóriánként és régiónként:")
pivot_df = pd.pivot_table(df, values='Bevétel', index='Kategória', columns='Régió', aggfunc='sum')
pivot_df

Pivot tábla – Bevétel kategóriánként és régiónként:

Régió,Budapest,Debrecen,Győr,Kecskemét,Miskolc,Nyíregyháza,Pécs,Szeged,Székesfehérvár
Kategória,,,,,,,,,
Kiegészítő,23864765,25419251,36093540,41315127,29533520,27850238,23238675,38539013,33468835
Laptop,186734321,293537399,135555601,166374221,283890982,177599442,164833499,182066030,245821791
Mobiltelefon,158699297,106006430,90613249,119437359,143049292,202918894,142036276,80496347,161982953
TV,155631485,249737722,210531974,204175278,217555734,180116971,242790682,256951881,243279491
Tablet,84959064,94007216,121500816,98627742,152243672,73507398,108254633,96828964,151873487

In [7]:
pivot_df2 = pd.pivot_table(df, values='Bevétel', index='Régió', columns='Kategória', aggfunc='sum')
pivot_df2

Kategória       Kiegészítő     Laptop  Mobiltelefon         TV     Tablet
Régió
Budapest          23864765  186734321     158699297  155631485   84959064
Debrecen          25419251  293537399     106006430  249737722   94007216
Győr              36093540  135555601      90613249  210531974  121500816
Kecskemét         41315127  166374221     119437359  204175278   98627742
Miskolc           29533520  283890982     143049292  217555734  152243672
Nyíregyháza       27850238  177599442     202918894  180116971   73507398
Pécs              23238675  164833499     142036276  242790682  108254633
Szeged            38539013  182066030      80496347  256951881   96828964
Székesfehérvár    33468835  245821791     161982953  243279491  151873487

# Szűrés
* Oszlop (columns) Régió szűrés: Budapest, Debrecen

In [8]:
szurt_df = df[df['Régió'].isin(['Budapest', 'Debrecen'])]
szurt_df

,Termék,Mennyiség,Ár,Bevétel (eFt),Kategória,Régió,Akció,Dátum,Bevétel
5,HP Spectre,12,599643,7195.716,Laptop,Debrecen,True,2025-04-26,7195716
6,Huawei P50,10,220545,2205.450,Mobiltelefon,Budapest,True,2025-06-23,2205450
10,Powerbank,44,12874,566.456,Kiegészítő,Budapest,False,2025-05-12,566456
14,Lenovo Tab P11,25,311306,7782.650,Tablet,Debrecen,True,2025-05-16,7782650
17,Huawei P50,22,477140,10497.080,Mobiltelefon,Debrecen,False,2025-06-15,10497080
...,...,...,...,...,...,...,...,...,...
983,Samsung QLED,30,451481,13544.430,TV,Debrecen,True,2025-04-18,13544430
986,HP Spectre,24,417430,10018.320,Laptop,Debrecen,True,2025-06-02,10018320
989,Samsung Galaxy Tab S8,15,398295,5974.425,Tablet,Debrecen,False,2025-06-29,5974425
992,Dell XPS 13,30,691629,20748.870,Laptop,Debrecen,True,2025-05-16,20748870
993,Huawei P50,19,378816,7197.504,Mobiltelefon,Budapest,True,2025-05-07,7197504

In [9]:
pivot_df = pd.pivot_table(szurt_df, values='Bevétel', index='Kategória', columns='Régió', aggfunc='sum')
pivot_df

Régió          Budapest   Debrecen
Kategória
Kiegészítő     23864765   25419251
Laptop        186734321  293537399
Mobiltelefon  158699297  106006430
TV            155631485  249737722
Tablet         84959064   94007216

#Multi indexű pivot tábla

In [10]:
pivot_df = pd.pivot_table(df, values='Bevétel', index=['Kategória', 'Akció'], columns='Régió', aggfunc='sum')
pivot_df

Régió                Budapest   Debrecen       Győr  Kecskemét    Miskolc  \
Kategória    Akció
Kiegészítő   False    8067602   10869385   20365597   25293688   11808840
             True    15797163   14549866   15727943   16021439   17724680
Laptop       False  102585625   94979123   80427932   84821593  202370857
             True    84148696  198558276   55127669   81552628   81520125
Mobiltelefon False   72569170   60645624   33876663   70746067   70874470
             True    86130127   45360806   56736586   48691292   72174822
TV           False  104978990  119463090  114401146  124076637  147238723
             True    50652495  130274632   96130828   80098641   70317011
Tablet       False   51200787   18712093   70876491   55309967  102216601
             True    33758277   75295123   50624325   43317775   50027071

Régió               Nyíregyháza       Pécs     Szeged  Székesfehérvár
Kategória    Akció
Kiegészítő   False     15449615   10071064   21723998        25446898
             True      12400623   13167611   16815015         8021937
Laptop       False     87787562  100641947  103154992       126311446
             True      89811880   64191552   78911038       119510345
Mobiltelefon False    101584067   61768073   30003643        66549979
             True     101334827   80268203   50492704        95432974
TV           False     78266574   78848236   69201815        83707292
             True     101850397  163942446  187750066       159572199
Tablet       False     26918469   49289396   28746099        76311517
             True      46588929   58965237   68082865        75561970

# Szűrés
* csak bizonyos index (kategória)

In [11]:
# Szűrés: csak bizonyos termékkategóriákra
# A loc[] metódussal kiválaszthatunk sorokat
szurt_pivot = pivot_df.loc[['Laptop', 'Mobiltelefon']]

szurt_pivot

Régió                Budapest   Debrecen      Győr  Kecskemét    Miskolc  \
Kategória    Akció
Laptop       False  102585625   94979123  80427932   84821593  202370857
             True    84148696  198558276  55127669   81552628   81520125
Mobiltelefon False   72569170   60645624  33876663   70746067   70874470
             True    86130127   45360806  56736586   48691292   72174822

Régió               Nyíregyháza       Pécs     Szeged  Székesfehérvár
Kategória    Akció
Laptop       False     87787562  100641947  103154992       126311446
             True      89811880   64191552   78911038       119510345
Mobiltelefon False    101584067   61768073   30003643        66549979
             True     101334827   80268203   50492704        95432974

In [12]:
szurt_pivot = pivot_df.loc[[
    ('Laptop', True),
    ('Mobiltelefon', True)
]]
szurt_pivot

,Régió,Budapest,Debrecen,Győr,Kecskemét,Miskolc,Nyíregyháza,Pécs,Szeged,Székesfehérvár
Kategória,Akció,,,,,,,,,
Laptop,True,84148696,198558276,55127669,81552628,81520125,89811880,64191552,78911038,119510345
Mobiltelefon,True,86130127,45360806,56736586,48691292,72174822,101334827,80268203,50492704,95432974

* Régió szűrés: Budapest, Debrecen

In [13]:
szurt_df = df[df['Régió'].isin(['Budapest', 'Debrecen'])]
szurt_df

,Termék,Mennyiség,Ár,Bevétel (eFt),Kategória,Régió,Akció,Dátum,Bevétel
5,HP Spectre,12,599643,7195.716,Laptop,Debrecen,True,2025-04-26,7195716
6,Huawei P50,10,220545,2205.450,Mobiltelefon,Budapest,True,2025-06-23,2205450
10,Powerbank,44,12874,566.456,Kiegészítő,Budapest,False,2025-05-12,566456
14,Lenovo Tab P11,25,311306,7782.650,Tablet,Debrecen,True,2025-05-16,7782650
17,Huawei P50,22,477140,10497.080,Mobiltelefon,Debrecen,False,2025-06-15,10497080
...,...,...,...,...,...,...,...,...,...
983,Samsung QLED,30,451481,13544.430,TV,Debrecen,True,2025-04-18,13544430
986,HP Spectre,24,417430,10018.320,Laptop,Debrecen,True,2025-06-02,10018320
989,Samsung Galaxy Tab S8,15,398295,5974.425,Tablet,Debrecen,False,2025-06-29,5974425
992,Dell XPS 13,30,691629,20748.870,Laptop,Debrecen,True,2025-05-16,20748870
993,Huawei P50,19,378816,7197.504,Mobiltelefon,Budapest,True,2025-05-07,7197504

In [14]:
pivot_df = pd.pivot_table(szurt_df, values='Bevétel', index=['Kategória', 'Akció'], columns='Régió', aggfunc='sum')
pivot_df

Régió                Budapest   Debrecen
Kategória    Akció
Kiegészítő   False    8067602   10869385
             True    15797163   14549866
Laptop       False  102585625   94979123
             True    84148696  198558276
Mobiltelefon False   72569170   60645624
             True    86130127   45360806
TV           False  104978990  119463090
             True    50652495  130274632
Tablet       False   51200787   18712093
             True    33758277   75295123

#Többféle aggregálás egyszerre

In [15]:
# Többféle statisztikai mutatót is kérhetünk egy pivot táblába: például összeget és átlagot is egyszerre
szurt_df = df[df['Régió'].isin(['Budapest', 'Debrecen'])]
multi_pivot = pd.pivot_table(
    szurt_df ,
    values='Bevétel',
    index='Kategória',
    columns='Régió',
    aggfunc=['sum', 'min']  # Többféle aggregáció
)

print(" Pivot tábla – Összeg és Átlag egyszerre:")
multi_pivot

 Pivot tábla – Összeg és Átlag egyszerre:

                    sum                 min
Régió          Budapest   Debrecen Budapest Debrecen
Kategória
Kiegészítő     23864765   25419251   329692   381942
Laptop        186734321  293537399  3152552  3015525
Mobiltelefon  158699297  106006430  2205450  2235233
TV            155631485  249737722  2538912  2562896
Tablet         84959064   94007216  2296173  1410820

In [16]:
##Gyakorlás
# 1. az első sortól lejátszás
# 2. külön munkafüzet (https://colab.research.google.com/) kód átmásolása
# 3. saját excel fájl feltöltés, az oszlopok átnevezése, tesztelés
# Visszajelzés, kérdések

# Összefoglalás

# DataFrame kiírása Excel fájlba

In [20]:
# index=False kikapcsolja a sorszámok mentését
# regio_kategoria.to_excel('output.xlsx', index=False)

multi_pivot.to_excel('output.xlsx', index=True)